[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
numpy = "*"
pillow = "*"
python-multipart = "*"
boto3 = "*"
python-dotenv = "*"
insightface = "*"
opencv-python-headless = "*"
onnxruntime-gpu = "*"

[dev-packages]

[requires]
python_version = "3.12"
